.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
}
.login-form_fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}
.auth-popup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #000000;
    background-color: #ffffff;
    width: 500px;
}
.wantToEnter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wantToEnterText {
    color: red;
    font-size: 12px;
}
